.version.conference /* version checker */
{
	color: #0000EB;
	background-color: #7F0796;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6502500000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#pamphletu2291
{
	z-index: 62;
	width: 0.01px;
	height: 55px;
	padding-bottom: 204px;
	position: relative;
}

#u2294
{
	z-index: 63;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 20px;
}

#u2295
{
	position: absolute;
	width: 14px;
	height: 82px;
	top: -29px;
	left: -20px;
}

#u2296
{
	position: absolute;
	width: 32px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: -29px;
	left: -6px;
	padding: 29px 12px 25.19999999999999px 6px;
}

#u2296.PamphletThumbSelected
{
	background-color: transparent;
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#u2297
{
	z-index: 68;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	position: relative;
}

#u2296.PamphletThumbSelected #u2297
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u2299
{
	z-index: 66;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	margin-top: 6px;
	position: relative;
}

#u2296.PamphletThumbSelected #u2299
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u2298
{
	z-index: 67;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	margin-top: 5px;
	position: relative;
}

#u2296.PamphletThumbSelected #u2298
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u2300
{
	position: absolute;
	width: 181px;
	background-color: transparent;
	top: 81px;
}

#u2300popup
{
	z-index: 69;
}

#u2338
{
	z-index: 70;
	width: 180px;
	height: 178px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2301
{
	z-index: 71;
	width: 179px;
	height: 177px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#menuu2302
{
	z-index: 72;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2303
{
	width: 180px;
	background-color: transparent;
	position: relative;
}

#u2306
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u2306:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2308-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2306:hover #u2308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2306:active #u2308-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3424
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3424:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3426-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2306.MuseMenuActive #u2308-4,#u3424:hover #u3426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3424:active #u3426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2325
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2327-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 0px;
}

#u3424.MuseMenuActive #u3426-4,#u2325:hover #u2327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2325:active #u2327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2646
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2325.MuseMenuActive,#u2646:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2648-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2325.MuseMenuActive #u2327-4,#u2646:hover #u2648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2646:active #u2648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2691
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2691:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2694-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2646.MuseMenuActive #u2648-4,#u2691:hover #u2694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2691:active #u2694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2318
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2318:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2321-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2691.MuseMenuActive #u2694-4,#u2318:hover #u2321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2318:active #u2321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3423,#u2324,#u2643,#u2688,#u2317,#u2331
{
	width: 180px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u2332
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u2332:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2306:active,#u3424:active,#u2646:active,#u2691:active,#u2318:active,#u2332:active
{
	background-color: #6B6B6B;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2333-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u2318.MuseMenuActive #u2321-4,#u2332:hover #u2333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2332:active #u2333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u2332.MuseMenuActive #u2333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#pu1273
{
	width: 0.01px;
	margin-top: -259px;
}

#u1273
{
	z-index: 37;
	width: 64px;
	height: 80px;
	margin-right: -10000px;
}

#u158
{
	z-index: 35;
	width: 315px;
	margin-right: -10000px;
	left: 64px;
}

#u2290
{
	z-index: 38;
	width: 379px;
	height: 4px;
	top: -178px;
	margin-bottom: -4px;
}

#u2447-4
{
	z-index: 39;
	width: 197px;
	min-height: 22px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #009BDA;
	margin-left: 8px;
	top: -173px;
	margin-bottom: -24px;
	position: relative;
}

#u2448-4
{
	z-index: 43;
	width: 371px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	margin-left: 8px;
	top: -149px;
	margin-bottom: -56px;
	position: relative;
}

#u2449-6
{
	z-index: 47;
	width: 371px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 8px;
	top: -85px;
	margin-bottom: -66px;
	position: relative;
}

#u2449-2
{
	color: #99CC66;
}

#u2450-9
{
	z-index: 53;
	width: 371px;
	background-color: transparent;
	margin-left: 8px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u2450-2
{
	font-size: 20px;
	line-height: 24px;
	color: #00A2E8;
}

#paccordionu2451
{
	width: 0.01px;
	margin-top: 9px;
}

#accordionu2451
{
	z-index: 115;
	width: 201px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2599
{
	z-index: 116;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2604-4
{
	z-index: 117;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2604-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2604-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2600
{
	z-index: 121;
	width: 199px;
	height: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u2452
{
	z-index: 122;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2455-4
{
	z-index: 123;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2455-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2455-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2453
{
	z-index: 127;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
}

#u2466-20
{
	z-index: 128;
	width: 171px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 3px;
}

#u2460
{
	z-index: 148;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2463-4
{
	z-index: 149;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2463-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2463-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2461
{
	z-index: 153;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	position: relative;
}

#u2488-31
{
	z-index: 154;
	width: 143px;
	min-height: 142px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2495
{
	z-index: 185;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2496-4
{
	z-index: 186;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2496-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2496-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2497
{
	z-index: 190;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
}

#u2502-30
{
	z-index: 191;
	width: 200px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2456
{
	z-index: 221;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2459-4
{
	z-index: 222;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2459-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2459-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2457
{
	z-index: 226;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
}

#u2473-30
{
	z-index: 227;
	width: 194px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2509
{
	z-index: 257;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2510-4
{
	z-index: 258;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2510-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2510-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2511
{
	z-index: 262;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
}

#u2516-34
{
	z-index: 263;
	width: 148px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u2523
{
	z-index: 297;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2528-4
{
	z-index: 298;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2528-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2528-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2524
{
	z-index: 302;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u2530-25
{
	z-index: 303;
	width: 189px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u2537
{
	z-index: 328;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2538-4
{
	z-index: 329;
	width: 189px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #009BDA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2538-4:hover
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2538-4:active
{
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2604-4.AccordionPanelTabOpen,#u2455-4.AccordionPanelTabOpen,#u2463-4.AccordionPanelTabOpen,#u2496-4.AccordionPanelTabOpen,#u2459-4.AccordionPanelTabOpen,#u2510-4.AccordionPanelTabOpen,#u2528-4.AccordionPanelTabOpen,#u2538-4.AccordionPanelTabOpen
{
	border-color: #DEDEDE;
	background-color: #DEF564;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 189px;
	margin: 0px;
}

#u2604-4.AccordionPanelTabOpen p,#u2455-4.AccordionPanelTabOpen p,#u2463-4.AccordionPanelTabOpen p,#u2496-4.AccordionPanelTabOpen p,#u2459-4.AccordionPanelTabOpen p,#u2510-4.AccordionPanelTabOpen p,#u2528-4.AccordionPanelTabOpen p,#u2538-4.AccordionPanelTabOpen p
{
	color: #009BDA;
	visibility: inherit;
}

#u2539
{
	z-index: 333;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
}

#u2544-37
{
	z-index: 334;
	width: 192px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u2488-3,#u2488-6,#u2488-9,#u2488-12,#u2488-15,#u2488-18,#u2488-21,#u2488-24,#u2488-27,#u2502-3,#u2502-8,#u2502-11,#u2502-14,#u2502-17,#u2502-20,#u2502-23,#u2502-26,#u2473-3,#u2473-6,#u2473-9,#u2473-12,#u2473-15,#u2473-20,#u2473-23,#u2473-26,#u2516-3,#u2516-6,#u2516-9,#u2516-12,#u2516-15,#u2516-18,#u2516-21,#u2516-24,#u2516-27,#u2516-30,#u2530-3,#u2530-6,#u2530-9,#u2530-12,#u2530-15,#u2530-18,#u2530-21,#u2544-3,#u2544-6,#u2544-9,#u2544-12,#u2544-15,#u2544-18,#u2544-21,#u2544-24,#u2544-27,#u2544-30,#u2544-33
{
	font-size: 12px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#pu2614-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 215px;
}

#u2614-4
{
	z-index: 371;
	width: 152px;
	min-height: 47px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #009BDA;
	position: relative;
}

#u2615-7
{
	z-index: 375;
	width: 164px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u2615-5
{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}

#u2617-18
{
	z-index: 382;
	width: 371px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 9px;
	position: relative;
}

#u2617-8,#u2617-11,#u2617-14
{
	font-weight: bold;
}

#u2617-12,#u2617-15
{
	font-weight: normal;
}

#u2618-13
{
	z-index: 400;
	width: 371px;
	min-height: 132px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 17px;
	position: relative;
}

#u2617-2,#u2618-2
{
	font-size: 20px;
	line-height: 24px;
	color: #009BDA;
}

#u2618-3
{
	line-height: 17px;
}

#u2618-6,#u2618-9
{
	font-size: 14px;
	color: #000000;
}

#u2618-5,#u2618-8,#u2618-11
{
	font-size: 14px;
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2450-4,#u2450-7,#u2615-2,#u2617-3,#u2617-5,#u2617-6,#u2617-10,#u2617-13,#u2617-16,#u2618-4,#u2618-7,#u2618-10
{
	font-size: 12px;
	line-height: 14px;
}

#u176
{
	z-index: 9;
	width: 360px;
	margin-top: 1px;
	padding: 9px 12px 16px 8px;
}

#u183
{
	z-index: 12;
	width: 24px;
	margin-right: -10000px;
}

#u189
{
	z-index: 14;
	width: 24px;
	margin-right: -10000px;
	left: 32px;
}

#u195
{
	z-index: 16;
	width: 24px;
	margin-right: -10000px;
	left: 64px;
}

#u207
{
	z-index: 10;
	width: 24px;
	margin-right: -10000px;
	left: 96px;
}

#u180-4
{
	z-index: 30;
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	left: 140px;
}

#pu181-6
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 17px;
}

#u181-6
{
	z-index: 18;
	width: 150px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u182-6
{
	z-index: 24;
	width: 178px;
	min-height: 34px;
	margin-right: -10000px;
	left: 170px;
}

#page_position_content,#pu183,#pu124
{
	width: 0.01px;
}

#u124
{
	z-index: 2;
	width: 380px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u125-6
{
	z-index: 3;
	width: 380px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3077
{
	z-index: 34;
	width: 90px;
	height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 285px;
}

.ie #u2295,.ie #u2338,.ie #u3077
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

