#u1273
{
	background-color: #FFFFFF;
	position: relative;
}

#u2290
{
	background-color: #000000;
	position: relative;
}

#u158,#u183,#u189,#u195,#u207
{
	background-color: transparent;
	position: relative;
}

#u180-4
{
	background-color: #7F7F7F;
	letter-spacing: 0px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	position: relative;
}

#u176,#u181-6
{
	background-color: #99CC66;
	position: relative;
}

#u182-6
{
	background-color: #99CC66;
	text-align: right;
	position: relative;
}

#u124
{
	background-color: #007BB6;
	position: relative;
}

#u125-6
{
	background-color: transparent;
	text-align: center;
	color: #DCFFDA;
	position: relative;
}

#u125-2
{
	color: #99CC66;
}

#u3077
{
	position: relative;
}

