.version.pre_conference /* version checker */
{
	color: #00000F;
	background-color: #6D45B0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#pamphletu3437
{
	z-index: 130;
	width: 0.01px;
	height: 55px;
	padding-bottom: 204px;
	left: -1px;
	position: relative;
}

#u3504
{
	z-index: 131;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 20px;
}

#u3505
{
	position: absolute;
	width: 14px;
	height: 82px;
	top: -29px;
	left: -20px;
}

#u3506
{
	position: absolute;
	width: 32px;
	border-color: #C4C4C4;
	background-color: transparent;
	top: -29px;
	left: -6px;
	padding: 29px 12px 25.19999999999999px 6px;
}

#u3506.PamphletThumbSelected
{
	background-color: transparent;
	width: 32px;
	min-height: 0px;
	margin: 0px;
}

#u3507
{
	z-index: 136;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	position: relative;
}

#u3506.PamphletThumbSelected #u3507
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u3508
{
	z-index: 134;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	margin-top: 6px;
	position: relative;
}

#u3506.PamphletThumbSelected #u3508
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u3509
{
	z-index: 135;
	width: 32px;
	height: 5px;
	background-color: #009BDA;
	margin-top: 5px;
	position: relative;
}

#u3506.PamphletThumbSelected #u3509
{
	background-color: #009BDA;
	width: 32px;
	height: 5px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u3438
{
	position: absolute;
	width: 181px;
	background-color: transparent;
	top: 81px;
}

#u3438popup
{
	z-index: 137;
}

#u3439
{
	z-index: 138;
	width: 180px;
	height: 178px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3440
{
	z-index: 139;
	width: 179px;
	height: 177px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#menuu3441
{
	z-index: 140;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3477
{
	width: 180px;
	background-color: transparent;
	position: relative;
}

#u3478
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u3478:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3479-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3478:hover #u3479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3478:active #u3479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3450
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u3452-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 0px;
}

#u3478.MuseMenuActive #u3479-4,#u3450:hover #u3452-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3450:active #u3452-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3459
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3450.MuseMenuActive,#u3459:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3460-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3450.MuseMenuActive #u3452-4,#u3459:hover #u3460-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3459:active #u3460-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3492
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3492:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3493-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3459.MuseMenuActive #u3460-4,#u3492:hover #u3493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3492:active #u3493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3485
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3485:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3488-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3492.MuseMenuActive #u3493-4,#u3485:hover #u3488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3485:active #u3488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3464
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3464:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3467-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3485.MuseMenuActive #u3488-4,#u3464:hover #u3467-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3464:active #u3467-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3449,#u3456,#u3491,#u3484,#u3463,#u3470
{
	width: 180px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u3473
{
	width: 180px;
	min-height: 17px;
	background-color: #009BDA;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3473:hover
{
	background-color: #999999;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3478:active,#u3459:active,#u3492:active,#u3485:active,#u3464:active,#u3473:active
{
	background-color: #6B6B6B;
	width: 180px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3474-4
{
	width: 180px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u3464.MuseMenuActive #u3467-4,#u3473:hover #u3474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3473:active #u3474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u3473.MuseMenuActive #u3474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu1273
{
	width: 0.01px;
	margin-top: -259px;
}

#u1273
{
	z-index: 37;
	width: 64px;
	height: 80px;
	margin-right: -10000px;
}

#u158
{
	z-index: 35;
	width: 315px;
	margin-right: -10000px;
	left: 64px;
}

#u2290
{
	z-index: 38;
	width: 379px;
	height: 4px;
	top: -178px;
	margin-bottom: -4px;
}

#u3510-7
{
	z-index: 39;
	width: 378px;
	background-color: transparent;
	margin-left: 1px;
	top: -174px;
	margin-bottom: -66px;
	position: relative;
}

#u3510-2
{
	font-size: 20px;
	line-height: 24px;
	color: #807DF4;
}

#u3510-3
{
	font-size: 12px;
	line-height: 14px;
	color: #807DF4;
}

#u3511-4
{
	z-index: 46;
	width: 379px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #99CC66;
	top: -95px;
	margin-bottom: -28px;
	position: relative;
}

#pu3512-10
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -67px;
}

#u3512-10
{
	z-index: 50;
	width: 159px;
	background-color: transparent;
	color: #009BDA;
	position: relative;
	margin-right: -10000px;
}

#pu3513-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 170px;
}

#u3513-4
{
	z-index: 60;
	width: 199px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #009BDA;
	position: relative;
}

#pu3514
{
	width: 0.01px;
	margin-top: -1px;
}

#u3514
{
	z-index: 64;
	width: 136px;
	height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #99CC66;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u3516
{
	z-index: 66;
	width: 62px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #99CC66;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u3520-4
{
	z-index: 76;
	width: 34px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u3518-4
{
	z-index: 68;
	width: 132px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u3515
{
	z-index: 65;
	width: 136px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #99CC66;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u3519-4
{
	z-index: 72;
	width: 125px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u3517
{
	z-index: 67;
	width: 62px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #99CC66;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u3521-4
{
	z-index: 80;
	width: 30px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u3522-4
{
	z-index: 84;
	width: 370px;
	min-height: 46px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #99CC66;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u3523-21
{
	z-index: 88;
	width: 374px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	margin-left: 3px;
	position: relative;
}

#u3523-11
{
	font-weight: bold;
}

#u3524-4
{
	z-index: 109;
	width: 374px;
	min-height: 31px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #99CC66;
	margin-left: 3px;
	margin-top: 8px;
	position: relative;
}

#u3525-17
{
	z-index: 113;
	width: 374px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#u3510-5,#u3525-2,#u3525-3,#u3525-5,#u3525-7,#u3525-9,#u3525-11,#u3525-12,#u3525-14
{
	font-size: 12px;
	line-height: 14px;
}

#u176
{
	z-index: 9;
	width: 360px;
	margin-top: 1px;
	padding: 9px 12px 16px 8px;
}

#u183
{
	z-index: 12;
	width: 24px;
	margin-right: -10000px;
}

#u189
{
	z-index: 14;
	width: 24px;
	margin-right: -10000px;
	left: 32px;
}

#u195
{
	z-index: 16;
	width: 24px;
	margin-right: -10000px;
	left: 64px;
}

#u207
{
	z-index: 10;
	width: 24px;
	margin-right: -10000px;
	left: 96px;
}

#u180-4
{
	z-index: 30;
	width: 97px;
	min-height: 24px;
	margin-right: -10000px;
	left: 140px;
}

#pu181-6
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 17px;
}

#u181-6
{
	z-index: 18;
	width: 150px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u182-6
{
	z-index: 24;
	width: 178px;
	min-height: 34px;
	margin-right: -10000px;
	left: 170px;
}

#page_position_content,#pu3515,#pu183,#pu124
{
	width: 0.01px;
}

#u124
{
	z-index: 2;
	width: 380px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u125-6
{
	z-index: 3;
	width: 380px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3077
{
	z-index: 34;
	width: 90px;
	height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 285px;
}

.ie #u3505,.ie #u3439,.ie #u3077
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

